@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: gold;
}
 .foot {
    padding-bottom: 25px;
   background-color: red;
   border: 5px solid red;
   border-radius: 5px;
   
 }
 .toTop{
   background-color: red;
   border: 1px solid black;
   border-radius: 10px;
    display: "flex";
    height: "10%";
    font-size: 13;
    flex-direction: "column";
    font-family: "Montserrat";
    color: "Black";
    cursor: "pointer";
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 20px;
   
 }
 .toBt{
   color: white;
   background-color: transparent;
   border: 1px solid white;
   border-radius: 10px;
    display: "flex";
    height: "10%";
    font-size: 13;
    flex-direction: "column";
    font-family: "Montserrat";
    color: "Black";
    cursor: "pointer";
    margin-right: 40px;
    padding-left: 20px;
    padding-right: 20px;
 }
